
.metricas{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 5em 10em; 
      
    
}

.metrica__descricao{
    width: 80%; 
    padding-right: 1.5em;
}

.metricas__numero{
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
    padding-bottom: 1em;

}

.metricas__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
    padding-bottom: 0.5em;
}
    
.metricas__texto{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-principal);
    padding-right: 1em;
}


